{{ partial "header.html" . }}

<main role="main" class="page-not-found">

  <h1>
    <span class="base05">[</span><span class="base08">4</span><span class="base09">0</span><span class="base0a">4</span><span class="base05">]</span>
  </h1>

  <div>
    <img src="{{ "img/doge.jpeg" | relURL }}">
  </div>

  <h2>
    <span class="base0d">Wow! MUCH LOST! SUCH NOT FOUND...</span>
  </h2>

  <blockquote class="reddit-card" data-card-created="1598818224"><a href="https://www.reddit.com/r/ContagiousLaughter/comments/edn6mc/dad_laughing_hysterically_kids_traumatized_for/">Dad: Laughing Hysterically, Kids: Traumatized for life</a> from <a href="http://www.reddit.com/r/ContagiousLaughter">r/ContagiousLaughter</a></blockquote>
  <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

</main>

{{ partial "footer.html" . }}
